Erratum #3000 (Editorial): Section 10.3.4

Erratum id: 3000
Type: Editorial
Submitted: by Mykyta Yevstifeyev at 2011-10-21
Verified: by Peter Saint-Andre
Erratum status: Verified
Section: 10.3.4

<https://www.rfc-editor.org/errata/eid3000>

Notes:
Here the registration of "4.0" value for VERSION is added, as it was discussed on WG mailing list.  When the erratum is approved, I'll ask IANA to add an entry on the registry, correspondingly.

Original text:
```
The following table is to be used to initialize the property values
   registry.

            +----------+------------+-------------------------+
            | Property | Value      | Reference               |
            +----------+------------+-------------------------+
            | BEGIN    | VCARD      | RFC 6350, Section 6.1.1 |
            | END      | VCARD      | RFC 6350, Section 6.1.2 |
            | KIND     | individual | RFC 6350, Section 6.1.4 |
            | KIND     | group      | RFC 6350, Section 6.1.4 |
            | KIND     | org        | RFC 6350, Section 6.1.4 |
            | KIND     | location   | RFC 6350, Section 6.1.4 |
            +----------+------------+-------------------------+
```

Corrected text:
```
The following table is to be used to initialize the property values
   registry.

            +----------+------------+-------------------------+
            | Property | Value      | Reference               |
            +----------+------------+-------------------------+
            | BEGIN    | VCARD      | RFC 6350, Section 6.1.1 |
            | END      | VCARD      | RFC 6350, Section 6.1.2 |
            | KIND     | individual | RFC 6350, Section 6.1.4 |
            | KIND     | group      | RFC 6350, Section 6.1.4 |
            | KIND     | org        | RFC 6350, Section 6.1.4 |
            | KIND     | location   | RFC 6350, Section 6.1.4 |
            | VERSION  | 4.0        | RFC 6350, Section 6.7.9 |
            +----------+------------+-------------------------+
```

I think I need to know more here before applying.