Erratum #3100 (Technical): Section 5.6

Erratum id: 3100
Type: Technical
Submitted: by Roberto Javier Godoy at 2012-01-30
Verified: by Peter Saint-Andre
Erratum status: Held for Document Update
Section: 5.6

<https://www.rfc-editor.org/errata/eid3100>

Notes:
Section 6.4.1 states that TYPE parameter values can be specified
as a parameter list (e.g., TYPE=text;TYPE=voice) or as a value list (e.g.,
TYPE="text,voice"). 

Either the description is right (and the ABNF should be corrected), or the ABNF is right, and the description and examples in Sections 6.4.1 and 8 should be fixed.

Value lists in vCard 3.0 did not use quotes (e.g "TYPE=dom,postal" in Section 3.3.1 of RFC 2426). If the ABNF is fixed this would be a significant change from  RFC 2426 syntax.

Original text:
```
type-param = "TYPE=" type-value *("," type-value)
```

Corrected text:
```
type-param =  "TYPE=" type-value *("," type-value)
type-param =/ "TYPE=" DQUOTE type-value *("," type-value) DQUOTE
```